<div class="px-12 py-3  shadow-xl flex justify-between">
  <%= image_tag('logo.png', class: "h-12") %>
  <div class="flex items-center">
    <ul class="flex space-x-6 text-xl font-khand font-medium">
      <%= link_to "FEEDS", feeds_path, class: "cursor-pointer" %>
      <%= link_to "PHOTO GALLERY", galleries_path, class: "cursor-pointer" %>
      <li class="cursor-pointer">SERVICES</li>
      <li class="cursor-pointer">CART</li>
  </div>
  <%= image_tag('logo.png', class: "h-12") %>
</div>