<div>
  <%= render 'user/navbar' %>
  <%= image_tag('feeds.png', class: "w-full") %>
  <div class="m-8 space-x-8 bg-slate-100 border-black shadow-lg  h-auto border-2 flex">
   <%= image_tag('feeds.png', class:"h-48") %>  
   <div class="mt-6 mr-4 pr-4 space-y-5 item-end">
    <p class="font-khand text-2xl">Is a grow light considered direct or indirect light?</p>
    <p class="font-khand text-lg">I use a grow light on my office plants because while I have a larger window in my office, and it’s even south facing, it’s mirrored on the outside and just isn’t enough.
I recently added hoyas and I am afraid of hurting them; does the further distance from the grow light make it indirect?</p>
    <p class="font-khand items-end justify-end">Created by : Anas Cruz</p>
    </div>
  </div>
</div>